* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 @font-face {
 font-family: "Europa Regular";
 src: url("fonts/Europa Regular/europa-regular-webfont.eot");
 src:
 url("fonts/Europa Regular/europa-regular-webfont.woff") format("woff"),
 url("fonts/Europa Regular/europa-regular-webfont.otf") format("opentype"),
 url("fonts/Europa Regular/europa-regular-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tex Gyre Bold";
 src: url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.eot");
 src:
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.woff") format("woff"),
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.otf") format("opentype"),
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tex Gyre Regular";
 src: url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.eot");
 src:
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.woff") format("woff"),
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.otf") format("opentype"),
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "The Woodlands";
 src: url("fonts/The Woodlands/thewoodlands-regular-webfont.eot");
 src:
 url("fonts/The Woodlands/thewoodlands-regular-webfont.woff") format("woff"),
 url("fonts/The Woodlands/thewoodlands-regular-webfont.otf") format("opentype"),
 url("fonts/The Woodlands/thewoodlands-regular-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Parker";
 src: url("fonts/Parker/parker-webfont.eot");
 src:
 url("fonts/Parker/parker-webfont.woff") format("woff"),
 url("fonts/Parker/parker-webfont.otf") format("opentype"),
 url("fonts/Parker/parker-webfont.svg#filename") format("svg");}

/*Body Start*/
body {
  overflow-x: hidden;
}

.navbar.navbar-default {
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.container {
  font-family: 'The Woodlands';
  font-size: 24px;
}

.container .header {
  font-family: 'Tex Gyre Bold';
  font-size: 60%;
}

.dropdown-header {
  font-family: 'Tex Gyre Regular';
}

.dropdown-toggle {
  font-family: 'Tex Gyre Bold';
  font-size: 60%;
}

#Untitled {
 height: 115%;
 position: relative;
 left: 5px;
 bottom: 3px;
}

.navbar .navbar-nav li > a {
 color: white !important;
}

.navbar .navbar-nav li > a:hover {
 color: rgb(153,153,153) !important;
}

.navbar .navbar-nav li {
 /* change color of subheadings in dropdown menu*/
}

.navbar .navbar-brand {
font-size: 36px;
color: white !important;
position: relative;
top: -5px;
}

.dropdown li {
 font-size: 14px;
}

.dropdown li > a {
 font-size: 12px;
}

.navbar-btn {
   border-color: #fff !important;
   color: rgb(33,37,43) !important;
   background-color: #fff !important;
}

.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

button {
  height: 35px;
  width: 45px;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  margin-top: 0;
  padding-top: 100px;
}

img.chemex {
  height: 450px;
}

@media screen and (max-width: 600px) {
  img.chemex {
    height: 250px;
  }
}

.flexContainer {
  display: -webkit-flex; /* Safari */
  display: flex;
  /*Space-around?*/
  margin: 40px auto 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .flexContainer {
    padding-bottom: 0px;
  }
}

.listContainer {
  padding-top: 64px;

  font-family: 'Tex Gyre Regular';


}

figcaption {
  font-size: 18px;
  font-family: "Tex Gyre Bold";
  padding-right: 50px;
}

ul {
  list-style-type: none;
}

li a {
  font-family: 'Europa Regular';
  color: rgb(0,129,238);
  font-size: 18px;
}

li a:hover {
  color: rgb(0,160,238);
  text-decoration: none;
}

.textboxContainer {
  font-family: 'Tex Gyre Bold';
  max-width: 767px;
  word-wrap: normal;
}

@media screen and (max-width: 1108px) {
  .textboxContainer {
    padding-left: 20px;
    max-width: 700px;
  }
}

h2.textboxHeader {
}

p.textboxParagraph {
  font-family: 'Europa Regular';
  padding-right: 50px;

}

@media screen and (max-width: 1108px) {
  p.textboxParagraph {
    padding-right: 20px;
  }
}

/*Body End*/


.brewHeader {
  font-family: "Tex Gyre Bold";
  font-size: 18px;
  margin-bottom: 0;
}

.brewText {
  font-family: "Europa Regular";
  font-size: 18px;
  color: rgb(0,129,238);
  margin-top: 0;
  padding-bottom: 30px;
}

.brewTimeContainer {
  padding-top: 64px;

}

.servesContainer {
  padding-top: 15px;
}

.coffeeScale {
  height: 525px;
}

@media screen and (max-width: 600px) {
  .coffeeScale {
    width: 100%;
    height: auto;
  }
}

.listWrapper {
  display: -webkit-flex; /* Safari */
  display: flex;
  /*Space-around?*/
  flex-wrap: nowrap;
  justify-content: center;
  padding-right: 20px;
}

#brewContainer {
  text-align: center;
  padding-bottom: 30px;

}

@media screen and (max-width: 1113px) {
  #brewContainer {
    padding-bottom: 10px;
  }
}

#brewContainer img {
  height: 100px;
  width: auto;
}

@media screen and (max-width: 600px) {
  #brewContainer img {
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-right: 60px;
  }
}

.preheatFlex {
  display: -webkit-flex; /* Safari */
  display: flex;
  /*Space-around?*/
  flex-wrap: wrap;
  justify-content: center;
}

.preheatContainer {
  max-width: 720px;
  word-wrap: normal;
  font-family: "Tex Gyre Bold";
}

.coffeeScaleContainer {
  padding-top: 22px;
}

.preheatText {
  font-family: "Europa Regular";
  font-size: 18px;
  padding-left: 20px;
  padding-right: 0;
}

.preheatHeader {
  margin-top: 0;
  padding-left: 20px;
  padding-right: 0;
}

.step1 {
  color: rgb(207,69,33);
  font-size: 24px;
  padding-left: 20px;
}

@media screen and (max-width: 1113px) {
  .preheatContainer {
    padding-right: 20px;
  }
}

.grainFlex {
  display: -webkit-flex; /* Safari */
  display: flex;
  /*Space-around?*/
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.grain {
  height: 450px;
}

@media screen and (max-width:600px) {
  .grain {
    width: 100%;
    height: auto;
  }
}

.grainTextContainer {
  max-width: 463px;
  word-wrap: normal;
  font-family: "Tex Gyre Bold";
}

@media screen and (max-width:1137px) {
  .grainTextContainer {
    padding-left: 20px;
    max-width: 700px;
  }
}

.step2 {
  color: rgb(207,69,33);
  font-size: 24px;
}

.grainHeader {
  margin-top: 0;
}

.grainText {
  font-family: "Europa Regular";
  font-size: 18px;
  padding-right: 20px;
}

.grainImageContainer {
  padding-top: 20px;
}

.line {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (max-width:600px) {
  .line {
    padding-top: 43px;
  }
}

.lets {
  font-family: 'The Woodlands';
  font-size: 150px;
  margin-bottom: -80px;

}

.brew {
  font-family: "The Woodlands";
  font-size: 150px;
  margin-bottom: -30px;
}

@media screen and (max-width: 600px) {
  .lets {
    font-size: 25vw;
  }

  .brew {
    font-size: 25vw;
  }
}

.stepThreeFlex {
  display: -webkit-flex; /* Safari */
  display: flex;
  /*Space-around?*/
  flex-wrap: wrap;
  justify-content: center;
}

.stepThreeContainer {
  max-width: 463px;
  word-wrap: normal;
  font-family: "Tex Gyre Bold";
}

@media screen and (max-width:1137px) {
  .stepThreeContainer {
    padding-right: 20px;
    max-width: 700px;
  }
}

.stepThree {
  color: rgb(207,69,33);
  font-size: 24px;
  padding-left: 20px;
}

.stepThreeHeader {
  margin-top: 0;
  padding-left: 20px;
}

.stepThreeText {
  font-family: "Europa Regular";
  font-size: 18px;
  padding-left: 20px;
}

.chemexSetContainer {
  padding-top: 20px;
}

.chemexSet {
  height: 450px;
}

@media screen and (max-width:600px) {
  .chemexSet {
    width: 100%;
    height: auto;
  }
}

.secondLine {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 46px;
  padding-bottom: 40px;
}

@media screen and (max-width:1137px) {
  .secondLine {
    padding-top: 43px;
  }
}

@media screen and (max-width:600px) {
  .secondLine {
    padding-top: 43px;
  }
}
